/harfbuzz-win64
/merged.ttf
/merged.ttx
/seguiemj.ttf
/seguiemj.ttx
/twemoji.ttf
/twemoji.ttx
/twemoji.subset.ttf
/twemoji.subset.ttx
/flags-glyphs.txt
/Segoe.UI.Emoji.no.changes.ttf
/Segoe.UI.Emoji.with.Twemoji.Flags.ttf
