/twemoji
/flag-glyphs.txt
/build

/seguiemj.ttf
/seguiemj.ttx
/twemoji.flags.ttf
/twemoji.flags.ttx
/merged.ttf
/merged.ttx
/merged.test.png

/Segoe.UI.Emoji.with.Twemoji.Flags.ttf
/Segoe.UI.Emoji.with.Twemoji.Flags.zip
